/* General App Styles */
.App {
  background-color: #9d9da1; /* Light grey background */
  color: #262626; /* Dark grey text for readability */
}

/* Navbar Styles */
.navbar {
  background-color: #9d9da1; /* White background for navbar */
  border-bottom: 1px solid #ddd; /* Light grey border */
}

.navbar-nav .nav-item .btn {
  color: #262626; /* Dark grey text for buttons */
  border: 2px solid #ddd; /* Light grey border for buttons */
  background-color: #0295db;
  align-self: center;
}

.navbar-nav .nav-item .btn:hover {
  background-color: #9d9da1; /* Light grey background on hover */
  color: #333; /* Dark grey text on hover */
}

.navbar-nav .nav-item .btn-outline-primary {
  border-color: #ddd; /* Light grey border for outline buttons */
}

.navbar-nav .nav-item .btn-outline-primary:hover {
  background-color: #f0f0f0; /* Light grey background on hover */
  color: #333; /* Dark grey text on hover */
}

/* Other Customizations */
.card, .card-body {
  background-color: #fff; /* White background for cards */
  color: #333; /* Dark grey text */
  border: 1px solid #ddd; /* Light grey border for cards */
}

.card-title, .card-text {
  color: #262626; /* Dark grey text color for card text */
}

.btn-warning {
  background-color: #f0f0f0; /* Light grey background */
  color: #262626; /* Dark grey text */
  border: 1px solid #ddd; /* Light grey border */
}

.btn-warning:hover {
  background-color: #ddd; /* Slightly darker grey on hover */
  color: #333; /* Dark grey text */
}
